# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Ambiente virtual
.venv/
venv/

# IDEs
.vscode/
.idea/
.DS_Store

# Testes
.pytest_cache/
.coverage
htmlcov/

# Segredos (nunca subir)
.env
*.key